
<body>

    <main>
        <div class="contact-container">
                <div class="contact-content">
                    <div class="contact-info">
                        <h2>CONTACT US</h2>
                        <p><i class="fa-solid fa-house-chimney"></i> Address:<br>987 Main St, New York, NY, 00001, U.S.A</p>
                        <p><i class="fa-solid fa-phone"></i> Telephone:<br>(012) 345-7689</p>
                        <p><i class="fa-solid fa-fax"></i> Fax:<br>0123456789</p>
                        <p>Phasellus pellentesque purus in massa aenean in pede phasellus libero ac tellus pellentesque semper.</p>
                        <p>Customer Service:<br><a href="mailto:hello@rentit.com">hello@rentit.com</a></p>
                        <p>Returns and Refunds:<br><a href="mailto:hello@rentit.com">hello@rentit.com</a></p>
                    </div>
                    <div class="contact-form">
                        <h2>CONTACT FORM</h2>
                        <form action="#" method="post">
                            <input type="text" name="name" placeholder="Name" required>
                            <input type="email" name="email" placeholder="Email" required>
                            <input type="text" name="subject" placeholder="Subject" required>
                            <textarea name="message" placeholder="Message" required></textarea>
                            <button type="submit">SEND MESSAGE</button>
                        </form>
                    </div>
                </div>
            </div>
            </main>
            </body>



