 @model SliderImage




<div class="container mt-5">
    <h3 class="text-center">Slider Image Details</h3>
    <img src="~/assets/img/@Model.Image" alt="Slider Image" style="width:300px;height:auto;" />

    <a asp-action="Index" class="btn btn-primary">Back to List</a>
</div>
